.packet {
    text-align: right;
}

.amount {
    text-align: right;
}

.table {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);

}

.table, td, th {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.particular {
    text-align: right;
    text-transform: lowercase;
}

.chips {
    background-color: rgb(207, 242, 255);
}

.rashan {
    background-color: rgb(251, 255, 224);
}

.debit {
    color: crimson;
}

.credit {
    color: #19a76c;
}

.tableHeader {
    background-color: #ccc;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.dptrLabel {
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.wrapper {
    margin-bottom: 12px;
    text-transform: capitalize;
}

.bharti {
    text-align: center;
    color: #ccc;
}

.bhartiWarning {
    color: orangered;
    text-align: center;
}