.flex-container {
    display: flex;
    width: fit-content;
  }
  
  .flex-items {
    background-color: #f1f1f1;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
    height: fit-content;
  }
  
  .address {
    width: 150px;
  }
  
  .name {
    width: 300px;
  }
  
  .type {
    width: 110px;
  }
  
  .status {
    width: 100px;
  }
  
  .item {
    width: 150px;
  }
  
  
  .receipt-number {
    width: 100px;
  }
  
  .packet {
    width: 100px;
    text-align: right;
  }
  
  .gaye {
    width: 100px;
    text-align: right;
  }
  
  .balancee {
    width: 100px;
    text-align: right;
  }
  
  .weight {
    width: 130px;
    text-align: right;
  }
  
  .location {
    width: 19%;
  }
  
  .amount {
    width: 120px;
    text-align: right;
  }
  
  .location {
    width: 200px;
  }

  .hammali {
    width: 150px;
  }
  
  .filters {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }
  
  .filter-container {
    overflow: visible;
  }
  
  .input-filters {
    box-sizing: border-box;
    height: 38px;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    text-indent: 8px;
  }
  
  .input-filters:focus {
    border: 1.5px solid #2684FF;
  }
  
  .rashan {
    /* background-color: rgb(212, 178, 245); */
  }
  
  .total {
    font-weight: bold;
  }

  .totalRow {
    position: sticky;
    bottom: 0;
    background-color: wheat;
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);

  }

  .topSticky {
    position: sticky;
    top: 0;
    background-color: wheat;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  }